body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
  }
  
  .logo {
    float: left;
  }

  
  #navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 70px;
  }
  #title{
    margin-right: 25%;
    font-size: 40px;
    top: 10%;
    position: relative;
    color: #e3e3e3;
    font-family: sans-serif;

  }

  
  .navigation-bar {
    background-color: #282828;
    height: 70px;
    width: 100%;
    text-align:right;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    
    padding: 0px;
    margin: 0px;
    text-align: right;
    display:inline-block;
    vertical-align:top;
    margin-right: 1%;
    margin-left: 1%;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    
    display: inline;
  }
  
  .navigation-bar li a {
    color: #fcfafa;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }
  .sidenav {
    margin-top: 4.8%;
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    
  }
  .sidenav iframe{
      margin-right: 20%;
  }
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  /*
  @media screen and (max-width: 1200px) {
    .sidenav {padding-top: 0px;margin-top: 6%;}
    .sidenav a {font-size: 18px;}

  }

  */
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #909090; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #707070; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #282828; 
  }
  .dropbtn {
    background-color: #282828;
    color: #fcfafa;
    opacity: 0.7;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
      margin-left: -10%;
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #505050;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: #282828;}
  a:link {
    text-decoration: none;
  }
  .show {display:block;}
  @media only screen and (max-width: 1090px) {
    .sidenav {
      padding-top: 0px;
      margin-top: 12.5%;
      width: 25%;
    }
    .sidenav a {font-size: 18px;margin: auto;}
    .sidenav iframe{
      width:70%;
      height: 10%;
    }
    .navigation-bar li a{
      font-size: small;
      display: block;
      color: #111;
      margin-top: -30%;
      margin-bottom: -10%;
      padding-right: 1%;
      padding: 0px;
    }
    #title{
      visibility: hidden;
    }
    .navigation-bar img{
      margin-left: 40%;
      height: 70%;
    }
    .navigation-bar{
      height: 50px;
    }
    .dropbtn{
      background-color: #c0c0c0;
      font-size: small;
      color: #111;
      margin-right: -17%;
    }
    .dropdown-content{
      margin-left: 0%;
      margin-top: 35%;
      position:relative;
      background-color: #d0d0d0;
    }
    .dropdown-content a{
      margin-top: -10%;
    }
    .dropdown{
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: #c5c5c5;}

  }